.details-mobile-container {
    padding-top: 10px;
}

.content-col-left {
    text-align: right;
    padding: 1%;
}

.text-align-mid, .content-col-left{
    text-align: center;
    margin-bottom: -4px;
    padding: 1%;
}

.col-headers-mobile {
    height: 20px;
    margin-bottom: 6px;
}


.mobile-divider-details {
    border-bottom: 2px solid white;
    margin-bottom: 6px;
}

.green-details {
    background-color: green;
}

.red-details {
    background-color: red;
}