.playgroundContainer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    /* overflow: hidden; */
}

.item {
    height: inherit;
    width: 100%;
    justify-content: center;
    color: white;
}

/* .hideMe {
    display: none;
} */