.dropDownTitle {
    color: white;
    font-weight: bold;
}

.dropDownContainerK {
    padding-top: 15px;
    margin-top: 0px;
}

.kdropDown {
    width: 100%;
}

.k-widget, .k-dropdown, .k-header {
    width: 100%
}