.journeyBoxHover:hover {
	animation: grow .20s ease-in-out forwards;
    }
.journeyBoxHover{
	width: 230px;
	display: inline;
}
/* Figma Styles */
.journeyBox {
	width: 240px;
	height: 140px;
	background: #000000;
	/* Dynamic */
	border: 2px solid #3c3c3c;
	box-sizing: border-box;
}

.journeyHeader {
	height: 100%;
	width: 15px;
	left: 0%;
	right: 96.09%;
	top: 27.86%;
	bottom: 57.94%;
	font-size: 14px;
	/* dynamic */
	background: #3c3c3c;
}

.journeyHeaderTitle {
	font-family: Ubuntu;
	font-style: normal;
	line-height: normal;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	/* vertical text */
	-webkit-transform: rotate(-90deg);	
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

    
/* Journey Card Selected Dynamic */
.journeyBoxAlert { border: 2px solid #FF0000;}

.journeyHeaderAlert { background-color: #FF0000;}


.journeyBoxAlert:after, .journeyBoxAlert:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.journeyBoxAlert:after {
	border-color: rgba(213, 213, 213, 0);
	border-left-color:#ff0000;
	border-width: 15px;
	margin-top: -15px;
}
.journeyBoxAlert:before {
	border-color: rgba(245, 0, 0, 0);
	border-left-color: #f50000;
	border-width: 18px;
	margin-top: -18px;
}
/* END DYNAMIC RED */

/* Journey Card Selected Dynamic - GREEN */
.journeyBoxAlertGreen { border: 2px solid #0DB16E;}

.journeyHeaderAlertGreen { background-color:#0DB16E;}


.journeyBoxAlertGreen:after, .journeyBoxAlertGreen:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.journeyBoxAlertGreen:after {
	border-color: rgba(213, 213, 213, 0);
	border-left-color:#0DB16E;
	border-width: 15px;
	margin-top: -15px;
}
.journeyBoxAlertGreen:before {
	border-color: rgba(245, 0, 0, 0);
	border-left-color: #0DB16E;
	border-width: 18px;
	margin-top: -18px;
}
/* END DYNAMIC RED */

.journeyContent {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
	font-size: 15px;
	padding-left: 50px;
	padding-top: 14px;
	color: #FFFFFF;
	height: 100%;

}

.journeysAmount {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	width: 90%;
	line-height: normal;
	font-size: 32px;
	color: #FF0000;
}

.journeysAmountGreen {
	color: #0DB16E;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 32px;
}

.journeysTarget {
	align-content: center;
	text-align: center;
	width: 90%;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 11px;
	padding-right: 70px;
	padding-top: 6px;
	color: #FFFFFF;
	clear: left;
}

.secondaryTarget{
	padding-bottom: 15px;
}
.journeyKendoGraph {
	height: auto;
	/* border: 1px dotted red ; */
	margin-top: -37px;
	width: 90%;
	clear: right;
}



/**Journeys*/
.journeySquareStyle{
	height:109px;
	width:262px;
	background-color: #000000;
	margin-top: 1px;
	/* float: left; */
	
}
.journeySquareHeader{
	height:40px;
	width:109px;
	background-color: #3c3c3c;
	margin-top:1px;	
	color:white;
	text-align: center;
	transform: rotate(-90deg);
	margin-top:13%;
	margin-right: 0%;
}
.journeySquareContent{
	background-color:#000000;
	height:109px;
	width:222px;
	
}
.journeyContentHeader{
	transform: rotate(-90deg);
	color:white;
	float: left;
	position: relative;
	margin:auto;
	text-align: center;
	height:100%;
	width:100%;
}



.verticalText1 {
	padding-top: 58px;
}
.verticalText2 {
	padding-top: 40px;
}
.verticalText3 {
	padding-top: 40px;
}
.verticalText4 {
	padding-top: 40px;
}
.verticalText5 {
	padding-top: 50px;
}

.verticalText6 {
	padding-top: 50px;
}


/* Mobile */

.mobileSecondaryBox {
	height: 80px;
	background-color: #1f1f1f;

}
.mobileSecondaryHeader {
	display: none;
}
.mobileSecondaryHover {
	border: 2px solid black;
}
.mobileCommentsIcon { display: none; }

.mobileSecondaryBoxContentAmount {
	margin-right: 10px;
	float: right;
	color: red;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
	font-size: 25px;
	margin-bottom: -20px;
	margin-right: 20px;

}
.mobileSecondaryContentTarget { display: none; }

.mobileSecondaryContanetAmountGreen {
	color: #0DB16E;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
	font-size: 25px;
	margin-bottom: -20px;
	margin-right: 20px;

}

.mobileSecondaryBullet {
	margin-top: 20px;
	float: right;
	width: 48%;
	padding-right: -10px;

}
.secondaryBoxHeaderTitle {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 25px;
	color: white;
	float: left;
	padding-top: 24px;
	padding-left: 24px;
	width: 50%;
	height: 79px;
	
}
