
.secondaryCLContainer {
	float: left;
	position: relative;
}

.journeyBoxHover:hover {
	animation: grow .20s ease-in-out forwards;
    }
.journeyBoxHover {
	width: 230px;
	display: inline;
}
/* Figma Styles */
.journeyBox {
	width: 100%;
	height: 135px;
	background: #000000;
	/* Dynamic */
	border: 2px solid #3c3c3c;
	box-sizing: border-box;
}
.tabletBox  {
	width: 100%;
	height: 135px;
	background: #000000;
	/* Dynamic */
	border: 2px solid #3c3c3c;
	box-sizing: border-box;
	font-size:16px !important;
}
.renew-overlay {
	height: 540px;
	border: 2px solid #ffffff;
	background-color: #3c3c3c;
	position: absolute;
	top: 135px;
	left: 0;
	z-index: 10;
	width: 35px;
}

.use-overlay {
	height: 272px;
	border: 2px solid #ffffff;
	background-color: #3c3c3c;
	position: absolute;
	top:673px;
	left: 0;
	z-index: 10;
	width: 35px;
}

.renew-overlay-two {
	height: 407px;
	border: 2px solid #ffffff;
	background-color: #3c3c3c;
	position: absolute;
	top: 675px;
	left: 0;
	z-index: 10;
	width: 35px;
}

.use-overlay-two {
	height: 541px;
	border: 2px solid #ffffff;
	background-color: #3c3c3c;
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 10;
	width: 35px;
}
.use-overlay-three {
	height: 135px;
	border: 2px solid #ffffff;
	background-color: #3c3c3c;
	position: absolute;
	top: 541px;
	left: 0;
	z-index: 10;
	width: 35px;
}
.renew-overlay-vertext {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute; 
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	top: 250px;
	left: -100px;
	width: 230px;
}

.use-overlay-vertext {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute; 
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	top: 130px;
	left: -100px;
	width: 230px;
}


.renew-overlay-vertext-two {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute; 
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	top: 185px;
	left: -100px;
	width: 230px;
}
.use-overlay-vertext-two {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute; 
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	top: 185px;
	left: -100px;
	width: 230px;
}

.use-overlay-vertext-three {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute; 
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	top: 185px;
	left: -100px;
	width: 230px;
}



.journeyHeader {
	height: 100%;
	width: 15px;
	left: 0%;
	right: 96.09%;
	top: 27.86%;
	bottom: 57.94%;
	font-size: 14px;
	/* dynamic */
	background: #3c3c3c;
}

.journeyHeaderTitle {
	font-family: Ubuntu;
	font-style: normal;
	line-height: normal;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	/* vertical text */
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}




.journeyBoxAlert {
	position: relative;
	background: #131313;
	border: 2px solid #f4f4f4 !important;
}




/* .journeyBoxAlert:after, .journeyBoxAlert:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
} */

/* .journeyBoxAlert:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #f4f4f4;
	border-width: 20px;
	margin-top: -20px;
}
.journeyBoxAlert:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #f4f4f4;
	border-width: 26px;
	margin-top: -26px;
} */
/* END DYNAMIC RED */

/* Journey Card Selected Dynamic - GREEN */
/* .journeyBoxAlertGreen { border: 2px solid #f4f4f4;}

.journeyHeaderAlertGreen { background-color:#f4f4f4;} */

/* .journeyBoxAlertGreen {
	position: relative;
	background: #131313;
	border: 4px solid #f4f4f4;
}
.journeyBoxAlertGreen:after, .journeyBoxAlertGreen:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
} */

/* .journeyBoxAlertGreen:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #f4f4f4;
	border-width: 20px;
	margin-top: -20px;
}
.journeyBoxAlertGreen:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #f4f4f4;
	border-width: 26px;
	margin-top: -26px;
} */
/* END DYNAMIC RED */

.cardCommentIcon {
	padding: 7px;
}

.journeyContent {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
	font-size: 15px;
	padding-left: 45px;
	padding-top: 14px;
	color: #FFFFFF;
	height: 100%;
	cursor: pointer;
	font-weight: 400 !important;
}

.journeysAmount {
	padding-top: 4px;
	padding-bottom:4px;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 600;
	width: 40%;
	line-height: normal;
	font-size: 1.8em;
	float:left
}

.journeysAmountGreen {
	color: #0DB16E;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 1.8em;
}

.journeysTarget {
	align-content: center;
	text-align: center;
	width: 90%;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 11px;
	padding-right: 70px;
	padding-top: 6px;
	color: #FFFFFF;
	clear: left;
}

.secondaryTarget{
	padding-bottom: 15px;
	margin-top:10px;
}
.journeyKendoGraph {
	height: auto;
	/* border: 1px dotted red ; */
	margin-top: -37px;
	width: 90%;
	clear: right;
}



/**Journeys*/
.journeySquareStyle{
	height:109px;
	width:262px;
	background-color: #000000;
	margin-top: 1px;
	/* float: left; */

}
.journeySquareHeader{
	height:40px;
	width:109px;
	background-color: #3c3c3c;
	margin-top:1px;
	color:white;
	text-align: center;
	transform: rotate(-90deg);
	margin-top:13%;
	margin-right: 0%;
}
.journeySquareContent{
	background-color:#000000;
	height:109px;
	width:222px;

}
.journeyContentHeader{
	transform: rotate(-90deg);
	color:white;
	float: left;
	position: relative;
	margin:auto;
	text-align: center;
	height:100%;
	width:100%;
}

.vs-qrf-desktop {
	margin-top: 10px !important;
}

.verticalText1 {
	padding-top: 58px;
}
.verticalText2 {
	padding-top: 40px;
}
.verticalText3 {
	padding-top: 40px;
}
.verticalText4 {
	padding-top: 40px;
}
.verticalText5 {
	padding-top: 50px;
}

.verticalText6 {
	padding-top: 50px;
}


/* Mobile */

.mobileSecondaryBox {
	height: 90px;
	background-color: #1f1f1f;
	border: 2px solid #1f1f1f;

}
/* .mobileSecondaryHeader {
	/* display: none;
} */
.mobileSecondaryHover {
	border: 2px solid black;
}
.mobileCommentsIcon { display: none; }

.mobileSecondaryBoxContentAmount {
	float: right;
	color: red;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 1.5em;
	margin-bottom: -20px;
	/* margin-right: 20px; */
	padding-top:10px;
	/* margin-left: 3.5%; */
}
.mobileSecondaryContentTarget { 
	float:left; 
	padding-left: 10px;
	color:white; 
	font-size: 1.2 !important; 
}
.mobileSecondaryContent{
	overflow: hidden;
}
.mobileSecondaryContanetAmountGreen {
	color: #0DB16E;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	/* font-size: 1.2em; */
	margin-bottom: -20px;
	margin-right: 20px;
}

.box1 {
	color: white;
}

.box2 {
	color: white;
}

.box3 {
	bottom: 0;
	left: 0;
}

.box4 {
	height: 2000px;
	width: 100%;
	position: relative;
	background-color: #262125;
	/* border-top-right-radius: 24px;
	border-top-left-radius: 24px; */
	color: white;
	padding: 13px;
	/* top: -191px; */
	/* top: -200px; */
	border: 2px solid rgb(255, 255, 255);
}

.boxHeader {
	border-top-right-radius: 24px;
	border-top-left-radius: 24px;
	height: 50px;
	width: 108%;
	padding: 20px;
	margin-left: -14px;
	margin-right: -14px;
	margin-top: -14px;
	background-color: #262125;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.red { color: red; }
.green {color: green; }

.close-btn {
	width: 35px;
	height: 35px;
	float: right;
	border-radius: 24px;
	margin-right: -7px;
}

.four-squares {
	height: 40px;
	float: right;
	margin-bottom: 5px;
	padding-right: 8px;
}

.stats-details {
	margin-right: 2px;
	font-size: 11px !important;
}

.mobileResizer {
	cursor: row-resize;
	position: relative;
	background: #000000;
	top: 0;
	left: 0;

}

.resizerIcon {
	height: 25px;
	width: 300px;
	border-radius: 5px;
	background: grey;
	margin: 0 auto;
	padding-left: 20%;
}


.mobileSecondaryBullet {
	margin-top: 20px;
	float: right;
	width: 48%;
	padding-right: -10px;

}
.secondaryBoxHeaderTitle {
	font-family: Ubuntu;
	font-style: normal;
	line-height: normal;
	padding-top: 10px;
	padding-left: 10px;
	height: 100%;
	width: 40% !important;
	font-size: 1.4em;
	float: left;
	color: white;
	white-space: nowrap;
	overflow-x: scroll;
}

/* Primary Data Category Navigation and Title */
.primaryDataCategoryContainer {
	padding-top: -10px;
	border: 1px solid transparent;
	height: 50px;
}

.primaryCategoryTitle {
	font-family: Ubuntu;
	font-style: normal;
	line-height: normal;
	font-weight: 600;
	font-size: 1.6em;
	color: white;
	width: 50%;
	margin-left: 70px;
	height: 60px;
	font-size: 17px;
	margin-top: 12px;
}

.primaryCateogryNav  {
	float: left;
	font-size: 1.5em;
	color: white;
	margin-left: 20px;
	height:20px;
	margin-top: 7px;
}



.sliderContainer {
		margin-top: 5px;
    color: white;
    height: 210px;
    width: 100%;
    background-color: #262125;
		/* overflow-y: hidden ; */
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden ;
}

.slider-content {
    height: 210px;
		width: auto;
		/* width: 450px; */
    flex: 0 0 auto;
	overflow-y: hidden ;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.sliderSquareContainerInner {
    height: 185px;
}

/* testing */
.slider_box_inner {
	position: relative;
	height: 185px;
}
.slider_box_inner:after, .slider_box_inner:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
  
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	margin-top: 1px;
}

.slide-out-bottom {
	-webkit-animation: slide-out-bottom 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bottom 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-6 11:52:10
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
	0% {
	  -webkit-transform: translateY(1000px);
			  transform: translateY(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-bottom {
	0% {
	  -webkit-transform: translateY(1000px);
			  transform: translateY(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  

/* ----------------------------------------------
 * Generated by Animista on 2019-2-6 11:48:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-bottom {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateY(1000px);
			  transform: translateY(1000px);
	  opacity: 0;
	}
  }
  @keyframes slide-out-bottom {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateY(1000px);
			  transform: translateY(1000px);
	  opacity: 0;
	}
  }
	
	.QRF-Percent {
		padding-left: 5px !important;
		font-size: 0.65em !important;
	}

	.badge {
		font-weight: 600 !important;
		font-size: 15px !important;
		background-color: #f4f4f4 !important;
		color: black;
	}

/*
  iPad Pro 10.5 inch, 1112px
*/
 
@media only screen and (max-width: 1116px) and (min-width: 1025px){
  .journeyContent {
    font-family: Ubuntu;
    font-style: normal; 
    line-height: normal;
    font-size: 9px;
    padding-left: 45px;
    padding-top: 14px;
    color: #FFFFFF;
    height: 100%;
    cursor: pointer;
    font-weight: 400 !important;
  }
  
     .journeysAmount{
    font-weight: bolder;
   }
}
 
/*
  iPad Pro 11.5 inch, 1194px
*/
 
@media only screen and (max-width: 1198px) and (min-width: 1117px){
  .journeyContent {
    font-family: Ubuntu;
    font-style: normal; 
    line-height: normal;
    font-size: 10px;
    padding-left: 45px;
    padding-top: 14px;
    color: #FFFFFF;
    height: 100%;
    cursor: pointer;
    font-weight: 400 !important;
  }
  
     .journeysAmount{
    font-weight: bolder;
   }
}
 
/*
  iPad Pro 12.9 inch,1366px
*/
 
@media only screen and (max-width: 1370px) and (min-width: 1199px){
  .journeyContent {
    font-family: Ubuntu;
    font-style: normal; 
    line-height: normal;
    font-size: 12px;
    padding-left: 45px;
    padding-top: 14px;
    color: #FFFFFF;
    height: 100%;
    cursor: pointer;
    font-weight: 400 !important;
  }
  
     .journeysAmount{
    font-weight: bolder;
   }
}