/* Financial Squares */
/* Card Flip */

.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 480px;
}
/**Horizontal Spins**/
.spinMeFirst{
	animation: spin 0.6s ease-in-out forwards; 

}
.spinMeSecond{
	animation: spin 0.8s ease-in-out forwards; 

}
.spinMeThird{
	animation: spin 1.0s ease-in-out forwards; 

}
.spinMeFourth{
	animation: spin 1.2s ease-in-out forwards; 

}
@-moz-keyframes spin {
  from {-moz-transform: rotateY(0deg);}
  to {-moz-transform: rotateY(360deg);}
} 
@-webkit-keyframes spin {
	from {-webkit-transform: rotateY(0deg);}
	to {-webkit-transform: rotateY(360deg);}
} 
@keyframes spin {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
} 

  /**Vertical Spins**/
.vertSpinMeFirst{
	animation: slideIn 0.4s  forwards; 

}
.vertSpinMeSecond{
	animation: slideIn 0.6s  forwards; 

}
.vertSpinMeThird{
	animation: slideIn 0.8s  forwards; 

}
.vertSpinMeFourth{
	animation: slideIn 1s  forwards; 

}
.vertSpinMeFifth{
	animation: slideIn 1.2s  forwards; 
}
.vertSpinMeSixth{
	animation: slideIn 1.4s forwards;
}
@-moz-keyframes vertspin {
	from {-moz-transform: rotateX(0deg);}
	to {-moz-transform: rotateX(720deg);}
} 
@-webkit-keyframes vertspin {
	from {-webkit-transform: rotateX(0deg);}
	to {-webkit-transform: rotateX(720deg);}
} 
@keyframes vertspin {
	from {transform: rotateX(0deg);}
	to {transform: rotateX(720deg);}
} 

@-moz-keyframes slideIn {
	0% { -webkit-transform: translateX(-600px); }
	50% { -webkit-transform: translateX(-240px); }
    100% { -webkit-transform: translateX(0); }
} 
@-webkit-keyframes slideIn {
	0% { -webkit-transform: translateX(-600px); }
	50% { -webkit-transform: translateX(-240px); }
    100% { -webkit-transform: translateX(0); }
} 
@keyframes slideIn {
	0% { -webkit-transform: translateX(-600px); }
	50% { -webkit-transform: translateX(-240px); }
    100% { -webkit-transform: translateX(0); }
} 
 
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}


/* On Hover Zoom for Card Charts - Donut */

.zoom {
	padding-top: 7px;
    transition: transform .2s; /* Animation */
}

/* zooming in for the cards on Journey Financial Summary */
.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/* Animation */
.example-appear {
    opacity: 0;
    transform: translateY(-200px);
    animation-duration: 4s;
    animation-delay: 2s;
}
.example-appear.example-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-out;
    animation-duration: 100s;
    animation-delay: 5s;
}

.financialBoxHover:hover {
	animation: grow .20s ease-in-out forwards;
	}
	
@keyframes grow {
	100% {transform: scale(1.02); }
}


/* Previous Inline Style */
.sumChartSquare {
	height: 230px; 
	width: 100%;
	margin-top: 10px;
}

.selectedCardFontColorGreen {
	color: #0DB16e;
}

.selectedCardFontColorRed {
	color: #ff0000;
}

/* dynamic */
.selectedCardHeaderRed {
	background-color: #ff0000;
}
.selectedCardHeaderGreen {
	background-color: #0DB16e;
} 

.selectedCardText {
	color: white !important;
}

.selectedCardSquare {
	height: 225px;
}

.finCommentIcon{
	margin-top: 4px;
	margin-right: 4px;
	z-index: 3;
	position: relative;
	float:right;
}
.selectedCard {
	height: 225px;

	padding-top: 15px;
	margin-bottom: 20px;
}
.selectedCardText {
	color: white !important;
}
.sumChartHeaderText {
	/* dynamic */
	color: rgb(21, 21, 21);
	padding-top: 8px;
	text-align: center;
	font-size:18px;
}

.sumChartContent {
	height:100%;
	width:100%;
	background-color: white;
}

.donutChart {
	padding-top: 4px;
	position: absolute;
	width: 100%
}


/* Arrow */

.arrow_box {
	position: absolute;
	background: white;
	border-bottom: 4px solid white;
<<<<<<< HEAD
	width: 100%;
=======
	width:100%;
>>>>>>> 7e2a30e30d63358d6dd462250562c602cc735f1b
    height: 175px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color:white;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color:white;
	border-width: 21px;
	margin-left: -21px;
}


/* Inside the Donut Charts */
.insideDonut {
	padding-top: 30px;
}
.valueText{
	font-size:30px;
	display:block;
}

.selectedCardFontColorGreen {
	color: #0DB16e;
}

.selectedCardFontColorRed {
	color: #ff0000;
}
/* End Financial Squares */


.chartRow{
	padding-bottom: 60px;
}
/* Card Flip */

.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 480px;
}


.valueText{
	font-size:30px;
	display:block;
}
.targetText{
	font-size:11px;
	display:block;
	padding:0px;
}
.targetValueText{
	font-size:16px;
	display:block;
	padding:0px;
}


.summaryBox{
	background-color: #1f1f1f;
    /* background-image: linear-gradient(rgb(68, 68, 68),rgb(62, 62, 62),rgb(16, 16, 16)); */
	/* padding-top: 30px; */
	padding-bottom: 250px;
    height: 100%;
} 



.bottomSummaryContainer{
    padding-top: 200px;
    background-color: #1f1f1f;
	height: 100%;
	width:100%
}