.custom-animation-enter {
 
    transform: scale(0);
    transition: transform 1000ms ease-in-out;
}
.custom-animation-enter-active {

    transform: scale(1);
}
/* .k-animation-container {
    width:100%;
    height:100%;

} */
/* .k-child-animation-container{
    height:100%;
    width:100%;
} */
.content {
    /* margin-left:50%; */
    width: 100%;
    height: 100%;
    padding: 10px;
}

.dialogContainer{
    width:100%;
    height:100%;
}