/* Main Container */
.sumViewContainer{
    width: 100%;
    height: 100%;
    padding-top:15px;
    background-color: #f4f4f4;

}

/* Summary Breadcrumb */

/*Detail Breadcrump */


.titleBarHeader{
    margin-top:15px;
}

/* Title for the detail Multi Chart */

.detailTitle{
    color: #000000;
    
    font-style: Light;
    font-size: 30px;
    line-height: 34px;
    align-content: Left;
    float:left;
}

.chartContainer{
    background-color: #f4f4f4;
}
/* Multi Chart Metric Container */
.multiChartMetricContainer{
    /* border-radius:100px; */
    float: right;
    width: 200px;
    height:30px;
}
/* Units Metric Left Side of Selector */
.unitMetric{
    float:left;
    text-align: center;
    padding-top: 5px;
    height:30px;

    width:80px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 1px solid #3C3C3C;
}
/* ARR Metric Right Side of Selector */

.arrMetric{
    float:left;
    width:80px;
    height:30px;
    text-align: center;
    padding-top:5px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #3C3C3C;
}

/* Active Metric Chosen */
.activeMetric{
    width: 80px;
    color:white;
    width:80px;
    background-color: #3C3C3C;

}

/* QTD Title Row */
.qtdTitleBarHeader{
    margin-top:33px;
    background-color:white;
    padding-top: 15px;
    padding-bottom:15px;
}

/* QTD Title Header Text */
.qtdTitle{
    float:left;
}

/* QTD Total Metric Filter Container */
.totalTimeMetricContainer{
    float:right;
    width:300px;
    height:30px;
    background-color:white;
    

}

/* QTD Metric */
.qtdMetric{
    float:left;
    text-align: center;
    padding-top: 5px;
    height:30px;

    width:80px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 1px solid #3C3C3C;
}
/* Week  Metric */
.weekMetric{
    padding-top: 5px;
    height:30px;
    width:80px;
    float:left;
    text-align: center;
    border: 1px solid #3C3C3C;

}

/* All Metric */
.allMetric{
    float:left;
    width:80px;
    height:30px;
    text-align: center;
    padding-top:5px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #3C3C3C;
}

/* Active Time Metric Chosen */
.activeTimeMetric{
    width: 80px;
    color:white;
    background-color: #3C3C3C;

}

/* Quaretrly to date Top Details */
.qtdTopDetails{
    background-color: white;
}

.qtdDetailTitle{
    float:right;
    width: 750px;
    height:30px;
    clear:right;
    text-align:center;
    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    font-size: 12px;
}
.weekDetailTitle{
    float:right;
    width: 750px;
    height:30px;
    clear:right;
    text-align:center;
    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    font-size: 12px;
}
.allDetailTitle{
    float:right;
    text-align:center;
    padding:0px;

    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    width: 422px;
}
.qtdTotalTitle{
    float: left;
    font-size: 24px;
    padding: 0px !important;
}

.qtdTotalTable{
    padding: 0px !important;
    float: right;
    margin:auto;
}
.colContainer{
    /* width:105px; */
    height:80px;
    background-color:#F4F4F4;
    float:left;
    margin:1px;
}
.normalSize{
    width:105px;
}
.halfSize{
    width:63px;
    
}

.contHeader{
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    padding-top:10px;
    float:left;
    clear:right;
}
.valHeader{
    font-size:15px;
    float:left;
    padding-left: 10px;

}

.normalTableSize{
    width: 750px;
}
.halfTableSize{
    width:860px;

}