/* Main Container */
.sumViewContainer{
    width: 80%;
    height: 100%;
    padding-top: 14px;
    /* background-color: white; */
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    color: white;
}
/* Animation */
.example-appear {
    opacity: 0;
    transform: translateX(-200px);
    animation-duration: 4s;
    animation-delay: 2s;
}
.example-appear.example-appear-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 1s ease-out;
    animation-duration: 100s;
    animation-delay: 5s;
}
.statsHeader {
    float: right;
    margin-right: 30px;
    font-weight: 600;

}
.stats{
    font-size:20px;
    font-weight: 600;
}

/* Background Indicators */
.red{
    color: #FF0000 !important;
}
.green{
    color: #0DB16E !important;
}

/* Summary Breadcrumb */
.breadCrumb{
    color: #1573E6;
    cursor: pointer;
    font-weight: 700;
}
.breadCrumb:hover{
    color: purple;
}
/*Detail Breadcrump */


.titleBarHeader{
    margin-top:15px;
}

/* Title for the detail Multi Chart */

.detailTitle{
    color: white;

    font-style: Light;
    font-size: 30px;
    line-height: 34px;
    align-content: Left;
    float:left;
    background-color:transparent;
    padding: 0px;

}
.detailTitle2{
    color: white;

    font-style: Light;
    font-size: 30px;
    line-height: 34px;
    align-content: Left;
    float:left;
    background-color:transparent;
    padding: 0px;

}
.chartContainer{
    background-color: transparent;
}
/* Multi Chart Metric Container */
.multiChartMetricContainer, .totalTimeMetricContainer{
    float: right;
    padding: 0px;
    height:30px;
    width: 20%;
}
/* Units Metric Left Side of Selector */
.unitMetric, .qtdMetric{
    float:left;
    text-align: center;
    padding-top: 5px;
    height:30px;
    width:50%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 1px solid #f4f4f4;
}
/* ARR Metric Right Side of Selector */
.arrMetric, .weekMetric{
    float:left;
    width:50%;
    height:30px;
    text-align: center;
    padding-top:5px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #f4f4f4;
}

/* Active Metric Chosen */
.activeMetric{
    color: #3C3C3C;
    background-color: white;

}

/* QTD Title Row */
.qtdTitleBarHeader{
    background-color:transparent;
    padding-top: 15px;
    padding-bottom:15px;
}

/* QTD Title Header Text */
.qtdTitle{
    float:left;
}

/* QTD Total Metric Filter Container */
/* .totalTimeMetricContainer{
    float:right;
    padding: 0px;
    height:30px;
    background-color:transparent;
    width: 30%;
    align-content: right;
} */


/* QTD Metric */
/* .qtdMetric{
    float:left;
    text-align: center;
    padding-top: 5px;
    height:30px;
    width:50%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 1px solid white;
} */

.excelSpan{
    float: right;
    /* width: 20%; */
    padding-right: 5px;
}
/* Week  Metric */
/* .weekMetric{
    float:left;
    width:50%;
    height:30px;
    text-align: center;
    padding-top:5px;
    border-top-right-radiqus: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #3C3C3C;

} */
.redBG{
    background-color:#ff0000 !important;
    color:white !important;
}
.greenBG{
    background-color:#0DB16E !important;
    color:white !important;

}
/* All Metric */
.allMetric{
    float:left;
    width:80px;
    height:30px;
    text-align: center;
    padding-top:5px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #3C3C3C;
}

/* Active Time Metric Chosen */
.activeTimeMetric{
    color:black;
    background-color: white;

}

/* Quaretrly to date Top Details */
.qtdTopDetails{
    background-color: transparent;
}

.qtdDetailTitle{
    float:right;
    width: 80%;
    height:30px;
    clear:right;
    text-align:center;
    border-top: 1px solid #3c3c3c;
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
    font-size: 12px;
}

.weekDetailTitle{
    float:right;
    width: 75%;
    height:30px;
    clear:right;
    text-align:center;
    border-top: 1px solid #3c3c3c;
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
    font-size: 12px;
}

.allContainer{
    padding: 0px;
}
.allWeekDetailTitle{
    float:right;
    text-align:center;
    padding:0px;

    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    width: 390px;
}
.allQtdDetailTitle{
    float:right;
    text-align:center;
    padding:0px;

    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    width: 450px;
}


.qtdTotalTitle{
    float: left;
    font-size: 24px;
    padding: 0px !important;
}
.k-header{
    padding-left:0px !important;
}
.qtdTotalTable{
    padding: 0px !important;
    float: right;
    margin:auto;
}
.colContainer{
    height:60px;
    background-color:#3c3c3c;
    float:right;
    margin:1px;
}
.weekSize{
    width:16.4%;
}
.qtdSize{
    width: 14%;
}
.halfSize{
    width:63px;
}

.topPanelHeader {
    color: white;
}


.contHeader{
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    text-align:center;
    padding-top:10px;
    float:left;
    clear:right;
}
.valHeader{
    font-size:15px;
    float:left;
    width: 100%;
    text-align:center;
}

.normalTableSize{
    width: 90%
}
.halfTableSize{
    width:860px;
}

.exportButton{
    margin-left:20px;
    color: white;
    background-color:  transparent;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    padding-left:20px;
    padding-top: 0px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    padding-right:20px;
    height: 30px;
    border: 1px solid #3c3c3c;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    text-align: center;
    align-self: auto;
    float:right;
}

.excelLogo{
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.k-link, .k-header, .k-state-selected {
    background-color: gray;
}

/* .k-widget, .k-panelbar, .k-reset, .k-header {
    background-color: transparent;
} */
.k-panelbar>.k-item>.k-link .k-icon {
    color: white !important;
}
