/* Main Container */
.sumViewContainer{
    width: 80%;
    height: 100%;
    padding-top: 14px;
    /* background-color: white; */
    background-color: transparent;
    padding-left: 10px;
    /* padding-right: 15px; */
    float: right;
    color: white;
    /* position: relative; */
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
/* Animation */
.example-appear {
    opacity: 0;
    transform: translateX(-200px);
    animation-duration: 4s;
    animation-delay: 2s;
}
.example-appear.example-appear-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 1s ease-out;
    animation-duration: 100s;
    animation-delay: 5s;
}
.statsHeader {
    float: right;
    margin-right: 13px;
    font-weight: 500;
}

.stats-container-main {
    border: 1.2px solid white;
    float: right;
    padding: 10px 10px 10px 20px;
    border-radius: 3px;

}

.stats{
    font-size:16px;
    font-weight: 600;
}

.footer {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    /* color: black; */
}

/* Background Indicators */
.red{
    color: #FF0000 !important;
}
.green{
    color: #0DB16E !important;
}

/* Summary Breadcrumb */
.breadCrumb{
    color: #1573E6;
    cursor: pointer;
    font-weight: 700;
}
.breadCrumb:hover{
    color: purple;
}
/*Detail Breadcrump */


.titleBarHeader{
    margin-top:15px;
    height:50%;
}

/* Title for the detail Multi Chart */

.detailTitle{
    color: white;

    font-style: Light;
    font-size: 30px;
    line-height: 34px;
    align-content: Left;
    float:left;
    background-color:transparent;
    padding: 0px;

}
.detailTitle2{
    color: rgb(0, 0, 0);
    background-color: #f4f4f4;
    border-left:10px solid #3c3c3c;
    font-style: Light;
    font-size: 30px;
    line-height: 34px;
    align-content: Left;
    float:left;
    /* background-color:transparent; */
    border-radius: 3px;
    padding: 5px 8px 5px 8px;

}
.chartContainer{
    background-color: transparent;
    height: 30%
}
/* Multi Chart Metric Container */
.multiChartMetricContainer, .totalTimeMetricContainer{
    float: right;
    padding: 0px;
    height:30px;
    width: 100%;
    cursor: pointer;
}


/* Units Metric Left Side of Selector */
.unitMetric{
    float:left;
    text-align: center;
    padding-top: 5px;
    height:30px;
    width:50%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #f4f4f4;
}

.qtdMetric{
    float:left;
    text-align: center;
    padding-top: 5px;
    height:30px;
    width:50%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 1px solid #f4f4f4;
}
/* ARR Metric Right Side of Selector */
.arrMetric{
    float:left;
    width:50%;
    height:30px;
    text-align: center;
    padding-top:5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  
    border: 1px solid #f4f4f4;
}
.weekMetric{
    float:left;
    width:50%;
    height:30px;
    text-align: center;
    padding-top:5px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  
    border: 1px solid #f4f4f4;
}

/* Active Metric Chosen */
.activeMetric{
    color: #3C3C3C;
    background-color: white;

}

/* QTD Title Row */
.qtdTitleBarHeader{
    background-color:transparent;
    padding-top: 15px;
    padding-bottom:15px;
}

/* QTD Title Header Text */
.qtdTitle{
    float:left;
}

/* QTD Total Metric Filter Container */
/* .totalTimeMetricContainer{
    float:right;
    padding: 0px;
    height:30px;
    background-color:transparent;
    width: 30%;
    align-content: right;
} */


/* QTD Metric */
/* .qtdMetric{
    float:left;
    text-align: center;
    padding-top: 5px;
    height:30px;
    width:50%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 1px solid white;
} */

.excelSpan{
    float: right;
    /* width: 20%; */
    padding-right: 5px;
}
/* Week  Metric */
/* .weekMetric{
    float:left;
    width:50%;
    height:30px;
    text-align: center;
    padding-top:5px;
    border-top-right-radiqus: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #3C3C3C;

} */
.redBG{
    /* background-color:#ff0000 !important; */
    color:#ff0000 !important;
    font-weight: bold;
}
.greenBG{
    /* background-color:#0DB16E !important; */
    color:#0DB16E !important;
    font-weight: bold;
}
.neutralBG {
    color: white !important;
    font-weight: bold;
}

/* All Metric */
.allMetric{
    float:left;
    width:80px;
    height:30px;
    text-align: center;
    padding-top:5px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #3C3C3C;
}

/* Active Time Metric Chosen */
.activeTimeMetric{
    color:black;
    background-color: white;

}

/* Quaretrly to date Top Details */
.qtdTopDetails{
    background-color: transparent;
    padding-left: 25px;
}
.qtdJourneyDetailTitle{
    float:right;
    width: 80%;
    height:30px;
    clear:right;
    text-align:center;
    border-top: 1px solid #3c3c3c;
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
    font-size: 12px;
}
.qtdDetailTitle{
    float:right;
    width: 89%;
    height:30px;
    clear:right;
    text-align:center;
    border-top: 1px solid #3c3c3c;
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
    font-size: 12px;
}

.weekDetailTitle{
    float:right;
    width: 75%;
    height:30px;
    clear:right;
    text-align:center;
    border-top: 1px solid #3c3c3c;
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
    font-size: 12px;
}

.allContainer{
    padding: 0px;
}
.allWeekDetailTitle{
    float:right;
    text-align:center;
    padding:0px;

    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    width: 390px;
}
.allQtdDetailTitle{
    float:right;
    text-align:center;
    padding:0px;

    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    width: 450px;
}


.qtdTotalTitle {
    float: left;
    font-size: 24px;
    padding: 0px !important;
}
.k-header{
    padding-left:0px !important;
}
.qtdTotalTable{
    padding: 0px !important;
    float: right;
    margin:auto;
}
.colContainer{
    height:60px;
    background-color:#3c3c3c;
    float:right;
    margin:1px;
}
.weekSize{
    width:16.4%;
}
.weekJourn{
    width:17.6%;

}
.qtdSize{
    width: 14.65%;
}
.qtdFin{
    width: 13.95%;
}
.halfSize{
    width:63px;
}

.topPanelHeader {
    color: white;
}


.contHeader{
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    text-align:center;
    padding-top:10px;
    float:left;
    clear:right;
}
.valHeader{
    font-size:15px;
    float:left;
    width: 100%;
    text-align:center;
}

.normalTableSize{
    width: 90%
}
.halfTableSize{
    width:860px;
}

.exportButton{
    margin-left:20px;
    color: white;
    background-color:  transparent;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    padding-left:20px;
    padding-top: 0px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    padding-right:20px;
    height: 30px;
    border: 1px solid #3c3c3c;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    text-align: center;
    align-self: auto;
    float:right;
}

.excelLogo{
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.k-link, .k-header, .k-state-selected {
    background-color: gray;
}

/* .k-widget, .k-panelbar, .k-reset, .k-header {
    background-color: transparent;
} */
.k-panelbar, .k-item, .k-link .k-icon {
    color: white !important;
    font-size: 24px !important;
}

.summary-filter {
    /* margin-left: 100px; */
    float:left;
    /* border: 1px solid red; */
}

.oneWeekBehind {
    width: max-content;
    float: left;
    padding: 20px;
}

/*
iPad Pro 10.5 inch , 1112px
*/
 
@media only screen and (max-width: 1116px) and (min-width: 1025px){
    .detailTitle2{
        width: 30%; 
        font-size: 20px;
         
     }
    }
     
    /*
    iPad Pro 11.5 inch, 1194px
    */
    @media only screen and (max-width: 1198px) and (min-width: 1117px){
        .detailTitle2{
            width: 25%; 
            font-size: 20px;
             
         }
    }
     
    /*
    iPad Pro 12.9 inch, 1366px
    */
    @media only screen and (max-width: 1370px) and (min-width: 1199px){
        .detailTitle2{
            width: 25%; 
            font-size: 20px;
             
         }
    }


    .iconfooter{
        display: 'block';
        padding-left: 500px;
         width: '100%'
    }
    .rtbIconFooter{
        width: 50px;
         height: 50px;
    }

    .correlationButton{
        background-color: #0b84fc;
        color: white;
        height: 50px;
        
        
        width: 150px;
        border: 4px solid orange;
        border-radius: 20px;
        outline: none;
    }

    .correlationButton:hover{
        border: 4px solid greenyellow;
        font-size: 1.2em;
        
    }

    .correlationButtonSlider{
        margin: 0;
        margin-left: -20px;
        display: inline-block;
        padding: 0;
        width: 150px;
        height: 70px;
        color: black;
    }
    .correlationButtonLeft{
        height: 35px;
        width: 150px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

    }
    .correlationButtonRight{
        height: 35px;
        width: 150px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .correlationButtonSelection{
        background-color: white;
        color: black;
        text-decoration: underline;
        outline: none;
    }
    .correlationButtonNonSelection{
        background-color: black;
        color: white;
        outline: none;
    }

    .correlationPanel{
        width: 80%;
        margin: auto;
        margin-left: 5%;
        margin-right: 5%;
        background-color: white;
        height: 600%;
        z-index: 400
    }

    .correlationPanelBar{
        
        padding-top: 50px;
        margin-top: 300px;
        margin-left: 30px;
    }

  
    .sliderListContainer{
        padding: 30px 0 30px 0;

    }

    .sliderListContainer .sliderBlock{
        margin-top: 20px;
    }

    .sliderListContainer .k-slider{
  
        margin-right: 30px;
        margin-left: 30px;
        background-color: rgb(223, 212, 212) !important;
        border-radius: 20px;
        width: 30px;
        
      }
      
        
      .sliderListContainer .k-slider .k-button{
        background: transparent;
        background-color: rgb(9, 159, 228) !important;
        color: white;
        
      }
      
      .sliderListContainer .k-i-arrow-s {
        transform: rotate(0deg) !important
    }

      .sliderListContainer .k-button:active{
        background-color: rgb(28, 97, 201) !important;
      }
      
      .sliderListContainer .k-slider-selection{
          background-color: rgb(21, 21, 77);
      }
      .sliderListContainer .k-slider-items{
        color: black;
        
      }
      
      .sliderListContainer .k-draghandle{
        border-color: white;
        background-color: rgb(8, 80, 175) !important;
        
      }
      .sliderListContainer .sliderTitle{
        /* color: grey; */
        color: rgb(187, 181, 181);
       
        
        width: 100px;
        font-size: 1em !important;
        text-align: center;
        white-space: pre-wrap;
        margin-top: 10px;
      
      }

      
     .sliderListContainer{
         
         /* background-color: black; */
        /* margin:auto;
        margin-left: 10%;
        margin-right: 10%; */
        /* background-color: rgb(247, 236, 236); */
        border-radius: 4px;
        /* text-align: center; */
        width: 100%;
        display: flex;
        justify-content: center;
     }
     .sliderBlock{
         /* display: inline-block; */
         /* border: 1px solid grey; */
         margin-left: 5%;
         
     }

     .predictButton button{
         width: 50%;
         height: 50px;
         background-color: rgb(9, 159, 228);
         border-radius: 40px;
         outline: none;
         color: white;
         border: none;
         /* border: 2px solid orange; */
         
     }

     .predictButton button:active{
         background-color: rgb(28, 97, 201) !important;
         outline: none;
         border: 2px solid greenyellow;
     }
     .predictButton{
         margin-top: 40px;
         display: flex;
         justify-content: center;
     }

     .sliderValue{
         width: 100%;
         text-align: center;
         border: 1px solid black;
         border-bottom-left-radius: 40%;
         border-bottom-right-radius: 40%;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
         margin-left: -5px;
         background-color: beige;
     }
     .predictComponent{
         /* background-color: rgb(247, 236, 236); */
         border: 1px solid #3d3d3d;
         border-radius: 5px;
         /* background-color: silver; */
         
         
         
         
     }

     .predictedValueContainer{
      
        display: flex;
        justify-content: center;
        margin-top: 20px;
        animation: showPrediction 4s;
      
         }

     

    .predictedValuePanelGreen{
        margin-left:20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        /* box-shadow: 0 0 10px 10px rgb(189, 184, 184); */
        box-shadow: 0 0 50px 15px greenyellow;
        color: rgb(63, 187, 63);
        display: flex;
        justify-content: center;
        animation: showPredictionGreen 2s;
    }

    @keyframes showPredictionGreen {
        from {background-color: #202020; color: #202020; box-shadow: none}
        to {background-color: #202020; color: rgb(63, 187, 63); box-shadow: 0 0 50px 15px greenyellow;}
      }

    .predictedValuePanelRed{
        
        width: 200px;
        height: 200px;
        border-radius: 50%;
        /* box-shadow: 0 0 10px 10px rgb(189, 184, 184); */
        box-shadow: 0 0 50px 15px salmon;
        color: red;
        display: flex;
        justify-content: center;
        animation: showPredictionRed 2s;
    }

    @keyframes showPredictionRed {
        from {background-color: #202020; color: #202020; box-shadow: none}
        to {background-color: #202020; color: red; box-shadow: 0 0 50px 15px salmon;}
      }

    .predictedValuePanelNeutral{
        
        width: 200px;
        height: 200px;
        border-radius: 50%;
        /* box-shadow: 0 0 10px 10px rgb(189, 184, 184); */
        box-shadow: 0 0 50px 15px white;
        color: rgb(212, 208, 208);
        display: flex;
        justify-content: center;
    }

    .predictedValueText{
        margin-top: 30%;
        /* color:white; */
        font-size: 2em;
        

    }

    .correlationAnalysis{
        margin-top: 20px;      
       margin-bottom: 50px;
    }

    .correlationAnalysis th{
        font-size: .8em;
        border: 1px solid black;
        border-collapse: collapse;
        padding: 8px;
        text-align: center;
        color: white;
        background-color: #3d3d3d;
        border-left: none;
        border-right:none;
    }

    .correlationAnalysis td:nth-child(1){
        font-size: .8em;
        /* border: 1px solid #fbfbfb; */
        border: 1px solid #3d3d3d;
        border-collapse: collapse;
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        color: white;
        
        /* background-color: #3d3d3d; */
    }

    .correlationAnalysis td:nth-child(2){
        width: 500px;
    }

    .correlationAnalysis td{
        border: 1px solid #3d3d3d;
        border-collapse: collapse;
        padding: 8px;
        text-align: center;
        color: white;

    }

    .sliderNumericText{
        width: 80px !important;
        font-size: 1.5em !important;
        border: none ;
        border-bottom: 1px solid #099fe4 ;/*#d4cbcb;*/
       text-align: center;
       margin-left: 5px;
       

    }

    .sliderNumericText .k-input{
        
        text-align:center;
        color: #d4cbcb !important;
        background-color: #202020 !important;
        
        
        
    }
    
    .k-slider-wrap{
        margin-top: 20px;
    }

    .miniTutorial{
        font-size: .7em;
        background-color: #f4c150;
        color: black;
        margin-bottom: 70px;
        text-align: center;
        
    }

    .showImportance{
        font-size: 1.2em;
        font-weight: bolder;
    }
    
    .predicteValuePercentageRed{
       
        font-size: .5em;
        /* display: inline-block; */
        text-align:center;
        margin-left: 5%;
        margin-right: 15%;
        color: red;
        /* background-color: rgba(230, 225, 225, 0.2); */
        border-radius: 3px;
        background-image: url('../../assets/images/downarrow.svg');
        background-repeat: no-repeat;
        background-position: 103% 100%;
        background-attachment: scroll;
        animation: showRedArrow 2s;
        
             
    }

    @keyframes showRedArrow{
        from { background-image: none; color: #202020; background-position: 103% -5000%}
        to { background-image: url('../../assets/images/downarrow.svg'); color: red ; background-position: 103% 100%}
    }


    .predicteValuePercentageGreen{
       
        font-size: .5em;
        /* display: inline-block; */
        text-align:center;
        margin-left: 5%;
        margin-right: 15%;
        color: rgb(63, 187, 63);
        /* background-color: rgba(230, 225, 225, 0.2); */
        border-radius: 3px;
        background-image: url('../../assets/images/uparrow.svg');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 103% 100%;
        animation: showGreenArrow 2s;
        
             
    }
    @keyframes showGreenArrow{
        from { background-image: none; color: #202020; background-position: 103% 5000%;}
        to { background-image: url('../../assets/images/uparrow.svg'); color: rgb(63, 187, 63); background-position: 103% 100%;}
    }


    .predicteValuePercentageNeutral{
       
        font-size: .5em;
        /* display: inline-block; */
        text-align:center;
        margin-left: 15%;
        margin-right: 15%;
        
        /* background-color: rgba(230, 225, 225, 0.2); */
        /* border-radius: 3px; */
        /* background-image: url('../../assets/images/uparrow.svg'); */
        /* background-repeat: no-repeat; */
        /* background-position: 100% ; */
        
             
    }

    .authenticateRequestMessage{
        margin-left: 150px;
        margin-top: 100px;
        font-size: 2em;
        color: yellow;

    }
