
.filterContainer {
    background-color: #3c3c3c;
    height: 45px;
    font-size: 14px;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

/* Mobile */
@media only screen and (max-width: 1024px) {
    .filterContainer {
        display: none;
    }
}



.pillsContainer{
    overflow: wrap;
    float:left;
    padding-top:12px;
}

.newFilterDiv{
    float: right;
    color: #ffffff;
    padding-top:6px;
    padding-right:5px;
}
.newFilterStateDiv{
    float: right;
    color: #ffffff;
    padding-top:12px;
    padding-right:10px;
}
.newFilterText{
    padding-bottom: 5px;
    padding-right: 10px;
    font-weight: 500;
}

.newFilterButton{
    width:30px;
    height:30px;
    /* border: 1px solid #ffffff; */
    text-align: center;
    font-weight: bolder;

}

/* Animate when clicking and closing */
.newFilterButton-selected{
    background-color: transparent;
    cursor: pointer;
}

.newFilterButton-close{
    background: #0D87FD; 
    border-radius: 30px;
    padding:5px 15px 5px 15px;
     margin-top: -5px !important;
    color: white;
   /* font-weight: bold; */
   cursor: pointer;
   display:inline;
}
.newFilterButton-close:hover{
    border: 1px solid #dad7d7;
    font-weight: bolder;
    border-radius: 30px;
    background: rgb(9, 102, 196); 
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.555); 

}
/* Disable images from being selected */
img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}




.filter-state{
    /* background: #0D7FEE; */
    background: #0D87FD; 
    border-radius: 5px;
    padding:5px 15px 5px 15px;
     margin-top: -5px !important;
    color: white;
   /* font-weight: bold; */
   cursor: pointer;
}
.filter-state:hover{
    border: 1px solid #e7e7e7;
    font-weight: bolder;
    background: rgb(9, 92, 175); 

    /* box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.555);  */
}

.cancelIcon{
   background-image: url('../../../assets/images/cancel.svg');
   width:30px;
   height:30px;
   background-size: 100%;
   background-repeat:none;

}