.panelItemTitle{
    font-size:24px;
    background-color:#D8D8D8 !important;
    color: white;
}

.topHeaderBar{
  font-size: 15px;
  background-color: #1f1f1f;
  width: 77.8%
}
.topHeaderBarWeek{
    font-size: 15px;
    background-color: #1f1f1f;
    width: 76%
  }
.journeyTopHeaderBar{
    font-size: 15px;
    background-color: #1f1f1f;
    width: 75%
  }
  .journeyTopHeaderBarWeek{
    font-size: 15px;
    background-color: #1f1f1f;
    width: 71.7%
  }
.singleTopHeaderBar{
    font-size: 15px;
    background-color: #1f1f1f;
    width: 88.5%
  }
  .singleTopHeaderBarWeek{
    font-size: 15px;
    background-color: #1f1f1f;
    width: 86.2%
  }

  .journeySingleTopHeaderBar{
    font-size: 15px;
    background-color: #1f1f1f;
    width: 86.5%
  }
  .journeySingleTopHeaderBarWeek{
    font-size: 15px;
    background-color: #1f1f1f;
    width: 84%
  }
.pointer{
    cursor: pointer;
}

.qtdtopHeaderBar{
    font-size: 15px;
    background-color: #1f1f1f;
    width: 75.5%
  }
.lowerHeaderBar{
    width:100%;
    height: 30px;
    background-color: #1f1f1f;
    color: white;
    padding:0px;
}
.allLowerHeaderBar{
    width:100%;
    height: 30px;
    background-color: #1f1f1f;
    color: white;
    padding:0px;
}
.qtdColumn{
    display: block;
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    border: 1px solid #3c3c3c;
    font-size: 65%;
    text-align: center;
    width: 12.5%;
    color: white;
    background-color: #1f1f1f;
}
.qtdJourneyColumn{
    /* Market Area US ROW T */
    display: block;
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    font-size: 15px;
    border: 1px solid #3c3c3c;
    text-align: center;
    width: 14.27%;
    color: white;
    background-color: #1f1f1f;
}
.qtdMarketColumn{
    display: block;
    border: 1px solid #3c3c3c;
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    font-size: 65%;
    text-align: center;
    width: 11.1%;
    color: white;
    background-color: #1f1f1f;

}
.qtdJourneyMarketColumn{
    display: block;
    /* position: absolute; */
    /* left: 9.96%;
    right: 80.18%;
    top: 52.69%;
    bottom: 32.96%; */
	white-space: nowrap;
    border: 1px solid #3c3c3c;
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    font-size: 65%;
    text-align: center;
    width: 12.48%;
    color: white;
    background-color: #1f1f1f;

}
.header{
    font-weight: bold;
    background-color: #3c3c3c !important;
    color: white;

}

.qtdGeoHeader{
    text-align:  left !important;
    padding-left: 15px;
    font-size: 65%;
    white-space: nowrap;
}
.qtdMaHeader{
    text-align:  left !important;
    padding-left: 15px;
    white-space: nowrap;
}

.weekColumn{
       /* Market Area US ROW T */
       display: block;
       /* position: absolute; */
       /* left: 9.96%;
       right: 80.18%;
       top: 52.69%;
       bottom: 32.96%; */
       float:left;
       font-family: Ubuntu;
       font-style: normal;
       line-height: 30px;
       font-size: 65%;
       text-align: center;
       width: 14.28%;
       color: white;
       background-color: #1f1f1f;
       border: 1px solid #3c3c3c;
}
.weekMarketColumn{
       /* Market Area US ROW T */    
       border: 1px solid #3c3c3c;

       display: block;
       /* position: absolute; */
       /* left: 9.96%;
       right: 80.18%;
       top: 52.69%;
       bottom: 32.96%; */
       float:left;
       font-family: Ubuntu;
       font-style: normal;
       line-height: 30px;
       font-size: 15px;
       text-align: center;
       width: 12.5%;
       color: white;
       background-color: #1f1f1f;
}

.weekJourneyColumn{
    /* Market Area US ROW T */
    display: block;
    /* position: absolute; */
    /* left: 9.96%;
    right: 80.18%;
    top: 52.69%;
    bottom: 32.96%; */
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    width: 16.66%;
    color: white;
    background-color: #1f1f1f;
    border: 1px solid #3c3c3c;

}
.weekJourneyMarketColumn{
    /* Market Area US ROW T */
    display: block;
    /* position: absolute; */
    /* left: 9.96%;
    right: 80.18%;
    top: 52.69%;
    bottom: 32.96%; */
    border: 1px solid #3c3c3c;
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    width: 14.25%;
    color: white;
    background-color: #1f1f1f;
}
.weekGeoHeader{
    text-align:  left !important;
    padding-left: 15px;
}
.weekMaHeader{
    /* text-align:  right !important; */
}
.leftTopHeaderBar{
    float:left;
    width:390px;
    text-align: center;
    height: 30px;
    margin-top: 5px;
    border-left: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    font-size: 12px;
}
.topPanelHeader{
    background-color: #1f1f1f;
    padding: 0px;
}
.rightTopHeaderBar{
    float:left;
    width:380px;
    text-align: center;
    height: 30px;
    margin-top: 5px;
    border-left: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    font-size: 12px;
}
.allTopHeaderContainer{
    float:right;
}
.allColumn{
 /* Market Area US ROW T */
 display: block;
 /* position: absolute; */
 /* left: 9.96%;
 right: 80.18%;
 top: 52.69%;
 bottom: 32.96%; */
 float:left;
 font-family: Ubuntu;
 font-style: normal;
 line-height: 30px;
 font-size: 12px;
 text-align: center;
 width: 6.63%;
 color: white;
 background-color: #1f1f1f;
}
.allGeoHeader{
    text-align:  left !important;

}
.allMaHeader{
 width: 7%;
 text-align:  right !important;

}

.k-link {
    padding-left: 7px !important;
}

.k-state-selected{
    background-color: #3c3c3c !important;
    color: white !important;
}
.k-panelbar, .k-link {
    background-color: #1f1f1f;
    color: white !important;
}

.k-item {
    background-color: #1f1f1f;
    color: white;
}

/* White panel on QTD Details */
.k-panelbar, .k-item, .k-state-expanded, .k-link {
    color: rgb(243, 243, 243) !important;
    background-color: #1f1f1f !important;
}
.geoTableContainer{
    /* padding:5px; */
}

.k-content {
    background-color: transparent !important;
}

.k-icon, .k-i-arrow-s, .k-panelbar-expand {
    margin-right: 100%;
}
.k-link:hover  {
    color: white !important;
    background-color: rgb(71, 71, 71) !important;
    padding-left: 7px !important;
}

.k-i-arrow-s {
    -webkit-transform: rotate(270deg) !important; /* Safari and Chrome */
    -moz-transform: rotate(270deg) !important;   /* Firefox */
    -ms-transform: rotate(270deg) !important;   /* IE 9 */
    -o-transform: rotate(270deg) !important;   /* Opera */
    transform: rotate(270deg) !important;
}

.k-panelbar-collapse {
    -webkit-transform: rotate(180deg) !important; /* Safari and Chrome */
    -moz-transform: rotate(180deg) !important;   /* Firefox */
    -ms-transform: rotate(180deg) !important;   /* IE 9 */
    -o-transform: rotate(180deg) !important;   /* Opera */
    transform: rotate(180deg) !important;
}

.k-state-default {
    background-color: #1f1f1f !important;
}

.qtdDetailTitle {
    font-size: 15px;
    margin-top: 5px;
    padding-top: 4px;
}

.boldFont{
    font-weight: 800;
    border-top: 1px solid #a4a4a4;
    border-bottom:1px solid #a4a4a4;
    color:white !important;
}