.panelItemTitle{
    font-size:24px;
    background-color:#1f1f1f;
    color: white;
}

.topHeaderBar{
  font-size: 12px;
  background-color: #1f1f1f;
}
.lowerHeaderBar{
    width:100%;
    height: 30px;
    background-color: #1f1f1f;
    color: white;
}
.allLowerHeaderBar{
    width:100%;
    height: 30px;
    background-color: #1f1f1f;
    color: white;
    padding:0px;
}
.qtdColumn{
    /* Market Area US ROW T */
    display: block;
    /* position: absolute; */
    /* left: 9.96%;
    right: 80.18%;
    top: 52.69%;
    bottom: 32.96%; */
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    width: 12.41%;
    color: white;
    background-color: #1f1f1f;
}
.qtdJourneyColumn{
    /* Market Area US ROW T */
    display: block;
    /* position: absolute; */
    /* left: 9.96%;
    right: 80.18%;
    top: 52.69%;
    bottom: 32.96%; */
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    width: 14.18%;
    color: white;
    background-color: #1f1f1f;
}
.qtdMarketColumn{
    /* Market Area US ROW T */
    display: block;
    /* position: absolute; */
    /* left: 9.96%;
    right: 80.18%;
    top: 52.69%;
    bottom: 32.96%; */
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    width: 11%;
    color: white;
    background-color: #1f1f1f;

}
.qtdJourneyMarketColumn{
    /* Market Area US ROW T */
    display: block;
    /* position: absolute; */
    /* left: 9.96%;
    right: 80.18%;
    top: 52.69%;
    bottom: 32.96%; */
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    width: 12.48%;
    color: white;
    background-color: #1f1f1f;

}
.header{
    font-weight: bold;
    background-color: #3c3c3c !important;
    color: white;

}
.qtdGeoHeader{
    text-align:  left !important;
    padding-left: 15px;
}
.qtdMaHeader{
    text-align:  left !important;
}

.weekColumn{
       /* Market Area US ROW T */
       display: block;
       /* position: absolute; */
       /* left: 9.96%;
       right: 80.18%;
       top: 52.69%;
       bottom: 32.96%; */
       float:left;
       font-family: Ubuntu;
       font-style: normal;
       line-height: 30px;
       font-size: 13px;
       text-align: center;
       width: 14.28%;
       color: white;
       background-color: #1f1f1f;
}
.weekMarketColumn{
       /* Market Area US ROW T */
       display: block;
       /* position: absolute; */
       /* left: 9.96%;
       right: 80.18%;
       top: 52.69%;
       bottom: 32.96%; */
       float:left;
       font-family: Ubuntu;
       font-style: normal;
       line-height: 30px;
       font-size: 13px;
       text-align: center;
       width: 12.2%;
       color: white;
       background-color: #1f1f1f;
}

.weekJourneyColumn{
    /* Market Area US ROW T */
    display: block;
    /* position: absolute; */
    /* left: 9.96%;
    right: 80.18%;
    top: 52.69%;
    bottom: 32.96%; */
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    width: 16.55%;
    color: white;
    background-color: #1f1f1f;
}
.weekJourneyMarketColumn{
    /* Market Area US ROW T */
    display: block;
    /* position: absolute; */
    /* left: 9.96%;
    right: 80.18%;
    top: 52.69%;
    bottom: 32.96%; */
    float:left;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    width: 11.11%;
    color: white;
    background-color: #1f1f1f;
}
.weekGeoHeader{
    text-align:  left !important;
}
.weekMaHeader{
    text-align:  right !important;
}
.leftTopHeaderBar{
    float:left;
    width:390px;
    text-align: center;
    height: 30px;
    margin-top: 5px;
    border-left: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    font-size: 12px;
}
.topPanelHeader{
    background-color: #1f1f1f;
}
.rightTopHeaderBar{
    float:left;
    width:380px;
    text-align: center;
    height: 30px;
    margin-top: 5px;
    border-left: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    font-size: 12px;
}
.allTopHeaderContainer{
    float:right;
}
.allColumn{
 /* Market Area US ROW T */
 display: block;
 /* position: absolute; */
 /* left: 9.96%;
 right: 80.18%;
 top: 52.69%;
 bottom: 32.96%; */
 float:left;
 font-family: Ubuntu;
 font-style: normal;
 line-height: 30px;
 font-size: 12px;
 text-align: center;
 width: 6.63%;
 color: white;
 background-color: #1f1f1f;
}
.allGeoHeader{
    text-align:  left !important;

}
.allMaHeader{
 width: 7%;
 text-align:  right !important;

}

.k-state-selected{
    background-color: #1f1f1f !important;
    color: white !important;
}
.k-panelbar, .k-link {
    background-color: #1f1f1f;
    color: white !important;
}

.k-item {
    background-color: #1f1f1f;
    color: white;
}

.k-panelbar, .k-item.k-state-expanded, .k-link {
    color: black;
    background-color: #1f1f1f !important;
}
.geoTableContainer{
    padding:0px;
}

.k-content {
    background-color: transparent !important;
}

.k-icon, .k-i-arrow-s, .k-panelbar-expand {
    margin-right: 100%;
}