

.ddFilter-appear {
    opacity: 0;
    transform: translateX(-200px);
    animation-duration: 4s;
    animation-delay: 2s;
}
  
.ddFilter-appear.ddFilter-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-out;
    animation-duration: 100s;
    animation-delay: 5s;
}
.ddFilter-leave {
    opacity: 0;
    transform: translateX(200px);
    animation-duration: 4s;
    animation-delay: 2s;
  }
  
  .ddFilter-leave .ddFilter-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }



/* 
  
.ddFilter-enter {
    opacity: 0.01;
    transform: translateX(-200px);
    animation-duration: 4s;
    animation-delay: 2s;
  }
  .ddFilter-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-out;
    animation-duration: 100s;
    animation-delay: 5s;
  
  }
  .ddFilter-exit {
    opacity: 0;
    transform: translateX(200px);
    animation-duration: 4s;
    animation-delay: 2s;
  }
  .ddFilter-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  } */
.panelBarContainer{
    height: 0;
    width: 100%;
    background-color: #3c3c3c;
    padding-bottom:30px;
}
.panelBarContainer-open{
    color: white;
    background-color: #3c3c3c;
    height: 130px;
    padding: 20px;
}

.panelBarContainer-closed{
    height: 0px;
    display: none;
}

.quarterFilterContainer{
    float:left;
    margin-right: 20px;
    padding-top: 20px;
}

@media only screen and (max-width: 1607px) {
    /* tablets and desktop */
    .panelBarContainer-open{
        height: 210px;

    }
}

@media only screen and (max-width: 810px) {
    /* tablets and desktop */
    .panelBarContainer-open{
        height: 350px;

    }
}

.k-dropdown .k-dropdown-wrap .k-select, .k-ie .k-dropdown .k-dropdown-wrap .k-select, .k-ff .k-dropdown .k-dropdown-wrap .k-select {
    background-color: rgb(34, 34, 34) !important;
    color: white !important;
    color: white;
}

[data-role="popup"] {
    background-color: rgb(34, 34, 34) !important;
    color: white !important;
}

[data-role="popup"] ul li[class="k-item k-state-hover"], [data-role="popup"] ul li[class="k-item k-state-selected k-state-focused"] {
    border-radius: 0px;
}

.k-select .k-dropdown .k-dropdown-wrap .k-ff .k-select {
    background-color: rgb(34, 34, 34) !important;
    color: white !important;
    color: white !important;
}

.k-list-container {
    white-space: nowrap !important;
}

.k-input {
    background-color: rgb(34, 34, 34) !important;
    color: white !important;
}

.k-dropdown{
    background-color: rgb(34, 34, 34) !important;
    color: white !important;
}