.titleHeader {
    background-color:#e8e8e8;
    height: 40px;
    font-size: 1.9em;
}
.statsHeader {
 float: right;
 margin-left: 40px;
 font-size: 1em;

}

.header-appear {
    opacity: 0;
    transform: translateY(-80px);
}
  
.header-appear.header-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-out;
}
.gridRow1{
margin-right: 20px;
margin-left: 20px;
padding-bottom: 50px;
}

.gridRow2{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 100px;
    }

.red{
    color: red;

}
.green{
    color: green;
}