.k-chart-shared-tooltip-marker {
    display: block !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}

.actualMarker {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
    color: black;
}

.tooltipActual {
    background-color: white;
    border: 1px solid black;
}


.tooltipTarget {
    background-color: #0E9CC6;
}


.tooltipLastYear {
    background-color:#DFDE43;
}
.tooltipLastQuarter {
    background-color:purple;
}


.tooltipTitle {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background: red;
    width: 100%;
    height: 100%;
}

.tooltipValue {
    margin-left: 7px;
    float: right;
    color: black;
}

.tooltipContainer {
    background-color: white;
}

.series-name {
    color: black;
}

.series-values {
    color: black;
}
