@import url('https://fonts.googleapis.com/css?family=Varela+Round');
* {
    font-family: 'Varela Round', sans-serif;
}

.switchCol{
    float: right;
    color: #383838;
}

.summaryTitleCol{
    float: left;
    padding: 15px;
    margin-top: 20px;

    font-size: 1.9em;
    color: white;
}

.financialsLabel {
    padding: 5px, 5px, 5px, 5px;
    margin-right: 5px;
    color: white;
}
.journeysLabel{
    padding: 5px, 5px, 5px, 5px;
    margin-left: 5px;
    color: white;


}

.donutChart {
    padding-top: 22px;
}

.gridContainer{
    /* background-color: #383838; */
    background-image: linear-gradient(rgb(68, 68, 68),rgb(62, 62, 62),rgb(16, 16, 16));

    height: 390px;
}

.sumChartSquare{
    height: 200px !important;
    width: 175px !important;
    border: 2px solid red !important;
}

/* Arrow */

.arrow_box {
	position: relative;
	background: white;
    border-bottom: 5px solid #3a3a3a;
    height: 270px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color:rgb(58, 58, 58);
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color:#3a3a3a;
	border-width: 21px;
	margin-left: -21px;
}

/* Animation */

.example-appear {
    opacity: 0;
    transform: translateY(-200px);
    animation-duration: 4s;
    animation-delay: 2s;
}
  
.example-appear.example-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-out;
    animation-duration: 100s;
    animation-delay: 5s;
}