.switchCol{
    float: right;
    color: #383838;
}

.summaryTitleCol{
    float: left;
    padding: 15px;
    margin-top: 20px;

    font-size: 1.9em;
    color: white;
}

.financialsLabel {
    padding: 5px, 5px, 5px, 5px;
    margin-right: 5px;
    color: white;
}
.journeysLabel{
    padding: 5px, 5px, 5px, 5px;
    margin-left: 5px;
    color: white;


}

.gridContainer{
    background-color: #383838;
    height: 300px;
}

.sumChartSquare{
    height: 200px !important;
    width: 175px !important;
    border: 2px solid red !important;
}

/* Animation */

.example-appear {
    opacity: 0;
    transform: translateY(-80px);
}
  
.example-appear.example-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-out;
}