

body {
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');
* {
    font-family: 'Ubuntu', sans-serif ;
}
/* Animation */

#commingSoon{
    width:100%;
    height:100%;
    text-align: center;
    font-size: 10em;
    font-weight: bold;
    color: white;
}
.maskBanner{
    
    width: 90%;
    /* height: 400px; */
    margin: auto;
    background-color: rgb(206, 203, 203);
    /* background-color:white; */
    text-align: center;
    color: white;
    z-index: 100;
    margin-top: 40px;
    /* box-shadow: 0 0 100px lavender; */
    
    border-radius: 5px;
}

/* @keyframes showHide {
    /* 0% { color: #a22e2e size}
    33% { color: orange}
    67% { color: red}
    100% {color: #a22e2e} 
    0% {font-size: 0em}
    
    30% {font-size: 1.7em}
    100% {font-size: 1.7em}
} */

.maskBanner p{
    display: block;
    
    /* padding-top: 10%; */
    font-size: 1.7em;
    /* animation-name: showHide ;
    -webkit-animation-name: showHide;
    animation-duration: 5s;
    -webkit-animation-duration: 5s; */
    margin-left: 2%;
    margin-right: 2%;
    color: red;
    
}
@media only screen and (max-width: 425px){
    .maskBanner{
        position: relative;
        top: 50px;
        
        background-color: rgb(206, 203, 203);
        padding-bottom: 70px;

    }
    
    
}


.example-appear {
    opacity: 0;
    transform: translateY(-200px);
    animation-duration: 4s;
    animation-delay: 2s;
}

.example-appear.example-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-out;
    animation-duration: 100s;
    animation-delay: 5s;
}

.custom-animation-enter {
    transform: scale(0);
    transition: transform 500ms ease-in-out;
}
.custom-animation-enter-active {
    transform: scale(1);
}

/* Styling */

/* CSS Rules for Top Banner */

@-webkit-keyframes scrollLeft{
    0% { left: 100%;}
    100% { left: -60%;}
}
@keyframes scrollLeft{
    0% { left: 100%;}
    100% { left: -60%;}
}

.Banner{
    color: red;
    display: -ms-flexbox;
    display: flex;
    font-size:25px;
    
    background-color:#ffeb3b;
    height: 40px;
    width: 100%;
    position: relative;
    overflow: hidden;


}

.Banner div{
    display: block;
    width: 100%;
    position: absolute;
    overflow: hidden;
    -webkit-animation: scrollLeft 35s linear infinite;
            animation: scrollLeft 35s linear infinite;
}

.Banner p{
    float: left;
    width: 100%;
    

}


@media only screen and (min-width: 900px )and (max-width: 1024px){
    @-webkit-keyframes scrollLeft{
        0% { left: 100%;}
        100% { left: -100%;}
    }
    @keyframes scrollLeft{
        0% { left: 100%;}
        100% { left: -100%;}
    }
    
    .Banner div{
        display: block;
        width: 200%;
        position: absolute;
        overflow: hidden;
        -webkit-animation: scrollLeft 35s linear infinite;
                animation: scrollLeft 35s linear infinite;
    }
    
    .Banner p{
        float: left;
        width: 100%;
        
    
    }
}

.BannerButton{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    background-image: url('../../assets/images/times-circle-regular.svg');
    background-size: 100% 100%;
    background-color: #ffeb3b;
    width: 50px;
    
    display:none;
    
    
}

@media only screen and (max-width: 425px){
    @-webkit-keyframes scrollLeft{
        0% { left: 100%;}
        100% { left: -250%;}
    }
    @keyframes scrollLeft{
        0% { left: 100%;}
        100% { left: -250%;}
    }
    
        .Banner div{
            display: block;
            width: 500%;
            position: absolute;
            overflow: hidden;
            -webkit-animation: scrollLeft 35s linear infinite;
                    animation: scrollLeft 35s linear infinite;
        }
        .Banner p{
            float: left;
            width: 100%;
            
        
        }
    
}

/* End CSS Rules for Top Banner */
