

body {
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');
* {
    font-family: 'Ubuntu', sans-serif ;
}
/* Animation */

#commingSoon{
    width:100%;
    height:100%;
    text-align: center;
    font-size: 10em;
    font-weight: bold;
    color: white;
}
.example-appear {
    opacity: 0;
    transform: translateY(-200px);
    animation-duration: 4s;
    animation-delay: 2s;
}

.example-appear.example-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-out;
    animation-duration: 100s;
    animation-delay: 5s;
}

.custom-animation-enter {
    transform: scale(0);
    transition: transform 500ms ease-in-out;
}
.custom-animation-enter-active {
    transform: scale(1);
}

/* Styling */
