

body {
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');
* {
    font-family: 'Ubuntu', sans-serif ;
}
/* Animation */

#commingSoon{
    width:100%;
    height:100%;
    text-align: center;
    font-size: 10em;
    font-weight: bold;
    color: white;
}
.maskBanner{
    
    width: 90%;
    /* height: 400px; */
    margin: auto;
    background-color: white;
    text-align: center;
    color: white;
    z-index: 100;
    margin-top: 40px;
    /* box-shadow: 0 0 100px lavender; */
    border-radius: 5px;
}

/* @keyframes showHide {
    /* 0% { color: #a22e2e size}
    33% { color: orange}
    67% { color: red}
    100% {color: #a22e2e} 
    0% {font-size: 0em}
    
    30% {font-size: 1.7em}
    100% {font-size: 1.7em}
} */

.maskBanner p{
    display: block;
    
    /* padding-top: 10%; */
    font-size: 1.7em;
    /* animation-name: showHide ;
    -webkit-animation-name: showHide;
    animation-duration: 5s;
    -webkit-animation-duration: 5s; */
    margin-left: 2%;
    margin-right: 2%;
    color: red;
    
}
.example-appear {
    opacity: 0;
    transform: translateY(-200px);
    animation-duration: 4s;
    animation-delay: 2s;
}

.example-appear.example-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-out;
    animation-duration: 100s;
    animation-delay: 5s;
}

.custom-animation-enter {
    transform: scale(0);
    transition: transform 500ms ease-in-out;
}
.custom-animation-enter-active {
    transform: scale(1);
}

/* Styling */
