.summaryTitleCol{
    /* float: left; */
    /* padding: 15px; */
    margin-top: 10px;
    font-size: 30px !important;
	color: white;
    margin-bottom: 10px;
	
}

.switchContainer{

	float: right;
}
 
/* Label Toggle Switch */
.switch {
	position: relative;
	/* display: inline-block; */
	width: 250px;
	height: 39px;

}

.switch input {display:none;}
  
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	-webkit-transition: .8s;
	transition: .8s;
  }
  
  .slider:before {
	position: absolute;
	content: 'Financials';
	color: black;
	padding-top: 4px;
	padding-left: 20px;
	font-size: 16px;
	height: 32px;
	width: 128px;
	left: 7px;
	bottom: 4px;
	background-color: #EAEAEA;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: black;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #1f1f1f;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(110px);
	-ms-transform: translateX(110px);
	transform: translateX(110px);
  }
  
  .toggleOn .toggleOff {
	  color: white;
	  position: absolute;
	  top: 50%;
	  bottom: 50%;
  }
  
  .on, .off
  {
	color: rgb(247, 247, 247);
	font-size:16px;
	padding-top: 2px;
  }

  .on {
	  margin-left: 23px;
	  float: left;
	  margin-top: 5px;
	  font-size:16px;
  }

  .off {
	  margin-right: 30px;
	  float: right;
	  margin-top: 5px;
	  font-size:16px;

  }
  
input:checked+ .slider:before {
	color: black;
	content: 'Financials';
	padding-left: 30px;

} 
  
input:checked + .slider:before  {
	color: black;
	content: 'Journeys';

}
 
.slider.round {
	border-radius: 32px;
}
  
.slider.round:before {
	border-radius: 32px;
}

  